.Users {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-right: 1px solid #ccc;
    background-color: #d4d4dd;
    width: 25vw;
}

.UsersOnline {
    background-color: #8db5e0;
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    width: 25vw;
}

.UsersList {
    margin: 0;
    padding: 0;
}

.UserItem {
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin: 0 0 0 20px;
}